# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Mac:
.DS_Store
.localized

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
test_output/
fonts/
img.tar.gz
img.zip
.idea
img
output
saved_train_data
code.zip
FontTransfer.pem
server_output
server_train_data
img2.tar.gz
user.txt
